body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-color: darkgray;
  background-repeat: no-repeat;
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loading-content {
  text-align: center;
  font-size: 24px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
}

#chat-display {
  overflow-y: auto;
  flex: 1;
  padding: 20px;
}

#tara {
  background-image: url(asset/png/tara.png);
  height: 100%;
  background-repeat: no-repeat;
  margin-left: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Your preferred background color */
}

textarea {
  width: calc(100% - 20px);
  height: 40px;
  resize: none;
  margin-right: 10px;
  border: none;
}

button {
  width: 40px;
  height: 40px;
  padding: 16px;
  background-color: #1085ce;
  background-image: url(asset/png/kirim.svg) ;
  background-position: center;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #031f31;
  /* Your preferred hover color */
}

.chat-bubble {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
}

.bot-response {
  background-color: #000;
  color: #fff;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  position: absolute;
  top: 100px;
  right: 50%;
}

@keyframes fadeIn {

  /* Animasi untuk muncul */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#tidur-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: gradientAnimation 10s infinite alternate;
  background: linear-gradient(to top right, rgb(18, 18, 18), rgb(44, 44, 44));
}
#tidur-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(asset/png/tidur.png);
  background-size: cover;
  animation: circleAnimation 30s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes circleAnimation {

  0%,
  100% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(calc(80vw - 50px), calc(80vh - 50px));
  }

  40% {
    transform: translate(calc(60vw - 50px), calc(20vh - 50px));
  }

  60% {
    transform: translate(calc(40vw - 50px), calc(60vh - 50px));
  }

  80% {
    transform: translate(calc(20vw - 50px), calc(40vh - 50px));
  }
}

@media only screen and (max-width: 600px) {
  #tara {
    height: 100%;
    margin-left: 25%;
  }

  #chat-display {
    overflow-y: auto;
    flex: 1;
    padding: 10px;
  }

  .form-container {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0;
    transform: translate(0, 0);
  }

  textarea {
    width: calc(100% - 20px);
    height: 30%;
    margin-right: 10px;
  }

  button {
    padding: 8px 12px;
  }

  .bot-response {
    top: 35%;
    right: 45%;
  }
}

.custom-loader {
  width: 80px;
  height: 80px;
  --c: linear-gradient(#F40023 0 0);
  background: 
    var(--c) 0    0,
    var(--c) 0    100%, 
    var(--c) 50%  0,  
    var(--c) 50%  100%, 
    var(--c) 100% 0, 
    var(--c) 100% 100%;
  background-size: 16px 50%;
  background-repeat: no-repeat;
  animation: db9-0 2s infinite;
  position: relative;
  overflow: hidden;
}
.custom-loader:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #F40023;
  top:calc(50% - 8px);
  left:-16px;
  animation:inherit;
  animation-name:db9-1;
}

@keyframes db9-0 {
 16.67% {background-size:16px 30%, 16px 30%, 16px 50%, 16px 50%, 16px 50%, 16px 50%}
 33.33% {background-size:16px 30%, 16px 30%, 16px 30%, 16px 30%, 16px 50%, 16px 50%}
 50%    {background-size:16px 30%, 16px 30%, 16px 30%, 16px 30%, 16px 50%, 16px 50%}
 66.67% {background-size:16px 50%, 16px 50%, 16px 30%, 16px 30%, 16px 50%, 16px 50%}
 83.33% {background-size:16px 50%, 16px 50%, 16px 50%, 16px 50%, 16px 50%, 16px 50%}
}

@keyframes db9-1 {
 20%     {left:0px}
 40%,70% {left:calc(50% - 8px)}
 80%,85% {left:16px;top:calc(50% - 8px)}
 100%    {left:16px;top:-16px}
}
